/*
    HIRE ME STYLES
*/

.hire-me {
    h2.first {
        margin: 0 0 40px 0;
    }

    .info-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

        margin-bottom: 30px;

        .info-icon {
            margin-right: 1rem!important;
            width: 64px;
            height: 64px;
            text-align: center;
            background: #efefef;
            color: #606060;
            border-radius: 36px;

            @include transition(all 0.2s ease-in-out);

            i {
                font-size: 34px;
                margin-top: 13px;
            }
        }

        .info-body {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 0%;
            -ms-flex: 1 1 0%;
            flex: 1 1 0%;
            text-align: justify;
            font-size: 15px;

            h4 {
                margin: 0 0 10px 0;
                text-align: left;
                font-size: 18px;
            }
        }
    }

    p {
        line-height: 28px;
    }

    ul {
        list-style: square outside none;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 20px;
    }
}
