---
layout: default
---
<div class="primary">
    <article class="post">
        <header class="post-header">
            <div class="post-header-wrap">
                {% if page.banner_image %}
                <div class="post-thumbnail">
                    <img src="{{ "/images/" | append: page.banner_image | prepend: site.baseurl }}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                </div>
                {% endif %}
                <h1 class="post-title outer">{{page.title}}</h1>
            </div>
        </header><!-- .post-header -->
        <div class="post-content inner-small outer">
            {{content}}

            <hr>

            <div class="contact-me">
                <div class="image">
                    <img src="/images/author.png" alt="user">
                </div>
                <div class="info">
                    <h4>Contact Me</h4>
                    <p>
                        Do you want to hire me or find out more about what I can do for you?
                        Feel free to contact me on one of the following methods.
                    </p>

                    {% if site.author_phone != '' %}
                    <div class="contact-button">
                        <a href="tel:{{ site.author_phone }}" class="button button-icon button-fill-horz" target="_blank" rel="noopener">
                            <span class="screen-reader-text">Phone</span>
                            {% include icons/phone-solid.html %}
                        </a>
                        {{ site.author_phone }}
                    </div>
                    {% endif %}
                    {% if site.author_email != '' %}
                    <div class="contact-button">
                        <a href="mailto:{{ site.author_email }}" class="button button-icon button-fill-horz" target="_blank" rel="noopener">
                            <span class="screen-reader-text">Email</span>
                            {% include icons/envelope.html %}
                        </a>
                        {{ site.author_email }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div><!-- .post-content -->
    </article><!-- .post -->
</div><!-- .primary -->

{% include sidebar.html %}
